body{
	color: white; 
	background-image: url("img/logo.png");
  width: 100%;
  height: 100%;
}
#header{
	width: 100%;
}
.ico{
	background-color: #11749e;
	box-shadow: 4px 4px 2px #c9c9c9;
	display: inline-block;
	padding: 6px;
	font-color: rgb(245, 245, 245);
	font-size: 38.349px;
	font-family: "OpenSans";
	position: absolute;
	left: 226.378px;
	top: 32.491px;
	font-weight: bold;
}
ul li{
	float: left;
	padding-left: 5px;
	padding-right: 5px;
}
.contentico{
  font-size: 20px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  list-style-type: none;
  text-align: center;
  position: absolute;
  left: 534.87px;
  top: 51.198px;

}

.borderc:hover{
  border-bottom: 5px solid rgb(17, 116, 158);
 }

.border{
	border-bottom: 1px solid white;
	position: relative;
	top: 103px;
	opacity: 0.6;
}
/* */
.cr{
  font-size: 38.349px;
  font-family: "Gotham";
  color: rgb(245, 245, 245);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 3.97783215408801,0,0,3.97783215408801,0,0);
  -webkit-transform: matrix( 3.97783215408801,0,0,3.97783215408801,0,0);
  -ms-transform: matrix( 3.97783215408801,0,0,3.97783215408801,0,0);
  position: absolute;
  left: 590.797px;
  top: 421.491px;
}
.pdp{
  font-size: 10.652px;
  font-family: "Gotham";
  color: rgb(17, 116, 158);
  text-transform: uppercase;
  line-height: 2.065;
  text-align: center;
  -moz-transform: matrix( 2.32693667861363,0,0,2.32693667861363,0,0);
  -webkit-transform: matrix( 2.32693667861363,0,0,2.32693667861363,0,0);
  -ms-transform: matrix( 2.32693667861363,0,0,2.32693667861363,0,0);
  position: absolute;
  left: 550.645px;
  top: 562.584px;
  width: 310.787px;
  height: 8.125px;
  z-index: 180;
}
.Scroll_Down {
  font-size: 13px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  line-height: 1.692;
  text-align: center;
  position: absolute;
  left: 650.119px;
  top: 667.502px;
  z-index: 181;
}